            <footer>
                <h5>Enlaces de interés</h5>
                <h6>Enlaces de interés</h6>


                <p>Trabajo académico elaborado para la UOC</p>
                <p>Diseñado por marcdelgado</p>
                <p><%= footer.email %></p>

                <p></p><i class="bi bi-globe2"/>


            </footer>
            </body>
</html>