
/* -- CONFIGURACION DE COLORES --------------------------------------------- */
/* Header */
$color-header-fg: rgb(200, 200, 200);
$color-header-fg-hover: rgb(255, 255, 255);
$color-header-bg: rgba(100, 0, 0, 1);
$color-header-line: rgba(100, 0, 0, 1);
$color-header-menus-bg: rgba(60, 0, 0, 1);
/* Banner */
$color-banner-h1: rgb(164, 0, 0);
$color-banner-h2: rgb(164, 71, 0);
/* general, main */
$color-body-fg: rgb(40, 40, 40);
$color-body-bg: rgb(224, 222, 200);
$color-body-article-bg: rgb(241, 227, 212);
$color-body-article-fg: rgb(200, 200, 200);
/* Botones independientes */
$color-botones-fg: rgb(0, 0, 0);
$color-botones-bg: rgba(204, 86, 0, 1);
$color-botones-bg-hover: rgb(164, 0, 0);
/* Footer */
$color-footer-fg: rgb(200, 200, 200);
$color-footer-link: rgb(255, 255, 255);
$color-footer-bg: rgba(30, 30, 30, 1);


$fuente-primaria: 'Roboto', sans-serif;

/* -- HOJAS POR MEDIA ------------------------------------------------------ */
@import 'styles_desktop.scss';
@import 'styles_mobile.scss';

/* -- ASSETS --------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import "icons/bootstrap-icons.scss";

/* -- ATRIBUTOS GENERALES -------------------------------------------------- */
html, body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: $color-body-bg;
  color: $color-body-fg;
  font-family: 'Noto Serif JP', serif;
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;

  }
  #mainMenuCheckbox, #langSelectorCheckbox{
    display: none;
  }
}
