@media (min-width: 1200px) {

    html {
        font-size: 18px;

        #mainMenuCheckbox:checked ~ .mainMenuContent,
        #langSelectorCheckbox:checked ~ .langSelectorContent {
            height: 50vh;
            transition: height 0.5s ease-in-out;
            border-left: 3px solid red;
            border-right: 3px solid red;
            border-bottom: 3px solid red;
        }

        #mainMenuCheckbox:not(:checked) ~ .mainMenuContent,
        #langSelectorCheckbox:not(:checked) ~ .langSelectorContent {
            height: 0;
            border-left: 0px solid red;
            border-right: 0px solid red;
            border-bottom: 0px solid red;
            transition: height 0.5s ease-in-out, border 0s ease-in-out 0.5s;
            box-shadow: none;
        }

        header {
            background-color: rgba(100, 0, 0, 1);
            box-shadow: 0px 4px 4px rgba(100, 0, 0, 0.5);
            border-bottom: 3px solid red;
            z-index: 900;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;

            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 100%;
                max-width: 1200px;
                margin: 0 auto;

                .title {
                    order: 0;
                    flex-grow: 4;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
                    height: 100%;
                    a, img{
                        color: lightgrey;
                        position: relative;
                        height: 100%;
                        top: 50%;
                        transform: translate(0, calc(-50% - 3px));
                        margin: 0;
                    }

                    h1 {
                        font-size: 2rem;
                        color: lightgrey;
                        position: relative;
                        top: 50%;
                        transform: translate(0, calc(-50% - 3px));
                        margin: 0;
                    }
                }

                #mainMenuButton {
                    order: 0;
                    width: 50px;
                    background: none;
                    border: none;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    i {
                        font-size: 2.8rem;
                        color: lightgray;
                    }

                    i:active, i:hover {
                        color: white;
                    }
                }

                #langSelectorButton {
                    order: 3;
                    width: 50px;
                    background: none;
                    border: none;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    i {
                        font-size: 2.2rem;
                        color: lightgray;
                    }

                    i:active, i:hover {
                        color: white;
                    }
                }

                .mainMenuContent {
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 80vw;
                    margin: 0;
                    vertical-align: bottom;
                    height: 0;
                    overflow: hidden;
                    background-color: rgba(60, 0, 0, 1);
                    box-shadow: 4px 4px 4px rgba(100, 0, 0, 0.5);
                    z-index: 950;
                }

                .langSelectorContent {
                    position: fixed;
                    top: 80px;
                    right: 0;
                    width: 180px;
                    background-color: rgba(60, 0, 0, 1);
                    box-shadow: 4px 4px 4px rgba(100, 0, 0, 0.5);
                    z-index: 950;
                    margin: 0;
                    vertical-align: bottom;
                    height: 0;
                    overflow: hidden;

                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        margin: 0;
                        list-style: none;
                        padding: 0;

                        li {
                            width: 75px;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-evenly;

                            img {
                                width: 100%;
                            }
                        }
                    }

                }
            }
        }

        #boton-top {
            position: fixed;
            bottom: 40px;
            right: 20px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            border-radius: 50%; /* establece el radio de borde a 50% para hacer el botón redondo */
            width: 60px; /* ajusta el ancho del botón */
            height: 60px; /* ajusta la altura del botón */
            background-color: #fff; /* establece el color de fondo del botón */
            border: none; /* elimina el borde del botón */
            background-color: rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 8px rgba(100, 0, 0, 0.9); /* agrega una sombra al botón para darle profundidad */
            z-index: 999; /* establece la posición del botón por encima de otros elementos */
            button {
                height: 100%;
                width: 100%;
                background: none;
                border: none;

                i {
                    font-size: 42px;
                    color: lightgrey;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        #boton-top:hover {
            cursor: pointer;
        }

        #boton-top.show {
            opacity: 1;
        }

        .banner {
            margin-top: 50px !important;
            height: 50vh;
            width: 100%;
            background-image: url("banner_balcon.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom center;

            h1 {
                font-size: 1.3rem;
                text-align: center;
                color: darkorange;
            }

            h2 {
                font-size: 1rem;
                text-align: center;
                color: navajowhite;
            }
        }

        /* No es necesario margin donde haya banner. */
        :not(.banner) ~ main {
            margin-top: 100px;
        }

        .banner ~ main {
            margin-top: 10px;
        }

        main {
            margin-left: 4px;
            margin-right: 4px;
            flex-grow: 1;
            .container {
                max-width: 1200px;
                margin: 0 auto;
                height: 100%;
            }

            div.googlemaps {
                position: relative;
                width: 50%;
                height: 50%;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }

        footer {
            color: lightgrey;
            background-color: #333333;

            .container {
                max-width: 1200px;
                margin: 0 auto;
            }
        }


    }
}
