@media (min-width: 1200px) {

	html {
		font-size: 20px;

		/* ===================================================================== */
		/* == HEADER =========================================================== */
		/* ===================================================================== */

		header {
			background-image: url("bg_header_desktop.jpeg");
			background-position: center;
			background-repeat: repeat;
			box-shadow: 0px 4px 4px rgba(100, 0, 0, 0.5);
			border-bottom: 3px solid red;
			z-index: 900;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;

			.container {
				/* Formateo del aspecto general, posicionamiento y flexbox */
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				height: 100%;
				margin: 0 auto;
				max-width: 1200px;

				/* Color titulos, botones */
				h1, i, a {
					color: $color-header-fg;
					text-decoration: none;
				}

				i:active, i:hover, a:active, a:hover {
					color: $color-header-fg-hover;
				}

				/* Botones mobile ocultos!! */
				#mainMenuButton, #langSelectorButton {
					display: none;
				}

				/* -- 1. TITULO ------------------------------------------------------ */
				div.title {
					order: 1;
					display: flex;
					flex-direction: row;
					width: 70%;

					img{
						height: 80px;
						margin: 10px 20px 10px 0;
					}

					h1, h1 a {
						font-size: 2rem;
						font-weight: 400;
						color: $color-header-fg-hover;
						margin-top: 20px;
					}
				}

				/* -- 2. SELECTOR IDIOMA ----------------------------------- */
				.langSelectorContent {
					order: 2;
					margin: 0;
					vertical-align: bottom;
					overflow: hidden;
					width: 30%;
					ul {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-evenly;
						margin: 24px 0 0 0;
						list-style: none;
						padding: 0;
						font-size: 0.8rem;
						li {
							width: 30px;
							margin: 0 0 12px 0;
							padding: 0;
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: space-evenly;
							text-align: center;
							img {
								width: 30px;
								height: 20px;
								object-fit: cover;
							}
							div{
								margin: 0px auto 12px auto;
							}
						}
					}

				}

				/* -- 3. MENU PRINCIPAL ----------------------------------- */
				.mainMenuContent {
					order: 3;
					width: 100%;
					margin: 0;
					vertical-align: bottom;
					overflow: hidden;
					background-color: rgba(0, 0, 0, 0.4);
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					ul{
						list-style-type: none;
						display: inline-block;
						box-sizing: border-box;
						padding: 12px 36px 12px 36px;
						margin: 0;
						li{
							margin-right: 10px;
							list-style-type: none;
							display: inline-block;
							ul{
								li{
									margin-right: 50px;

								}
							}
						}
					}
					.home{
						order: 1;
						width: 50%;
					}
					.locations{
						order: 3;
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						border-top: 4px solid $color-header-bg;
					}
					.others{
						order: 2;
						width: 50%;
						text-align: right;
						li{
							padding-left: 20px;
						}

					}
				}

			}
		}

		/* -- BOTON TOP FLOTANTE ----------------------------------------------- */
		#boton-top {
			position: fixed;
			bottom: 83px;
			right: 50px;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			border: none;
			opacity: 0;
			transition: opacity 0.5s ease-in-out;
			background-color: $color-botones-bg;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
			z-index: 999;

			i {
				font-size: 44px;
				color: $color-botones-fg;
				margin: 0;
				padding: 0;
			}
		}

		#boton-top:hover {
			cursor: pointer;
		}

		#boton-top.show {
			opacity: 1;
		}

		/* ===================================================================== */
		/* == BANNER =========================================================== */
		/* ===================================================================== */
		.banner{
			margin-top: 206px;
			img{
				width: 100%;
			}
		}

		/* ===================================================================== */
		/* == MAIN ============================================================= */
		/* ===================================================================== */
		/* Margen del main es diferente según si el hermano precendente
           es un banner o el header flotante (depende de la página) */
		main {
			width: 100%;
			flex-grow: 1;

			.container.locationList{
				.background{
					max-width: 1200px;
					width: 100%;
					margin: 0 auto;
					position: relative;
					opacity: 0.5;
					@keyframes fadeIn {
						0% {opacity: 0;}
						100% {opacity: 1;}
					}

					path {
						animation-name: fadeIn;
						animation-duration: 0.5s;
						animation-fill-mode: both;
					}
				}

				h2{
					margin: 0px auto 20px auto;
					font-size: 2.5rem;
					font-weight: 900;
					color: $color-banner-h1;
					animation: fadeIn 1s ease-in 4s both;
				}
				.articles{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					h3{
						color: $color-body-fg;
					}
					animation: fadeIn 1s ease-in 5s both;
				}

			}

			.container {
				max-width: 1200px;
				margin: 0 auto;
				padding: 50px 0 100px 0;

				article {
					width: 590px;
					margin: 10px 0 30px 0;
					a{
						text-decoration: none;
						color: $color-body-fg;
						img {
							width: 590px;
							margin: 0;
							height: 590px;
						}

						div {
							margin: 0;
							background-color: white;
							width: 100%;
							padding: 10px;
							box-sizing: border-box;
						}
					}

				}

				div.googlemaps {
					position: relative;
					width: 100%;
					height: 100%;

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: none;
					}
				}

				button{
					background: none;
					border: none;
					margin: 24px auto;
					a{
						color: $color-botones-fg;
						background-color: $color-botones-bg;
						border-radius: 4px;
						text-align: center;
						font-size: 1.5rem;
						font-weight: bolder;
						padding: 12px;
						border: none;
						text-decoration: none;
						&:hover,&:active{
							color: $color-botones-fg-hover;
							background-color: $color-botones-bg-hover;
						}
					}

				}
				&.frontpage{
					margin: 24px auto 48px auto;
					text-align: center;
					p{
						font-size: 1.4rem;
						line-height: 1.5;
						margin: 0 10% 16px 10%;
					}
					.flores{
						display: flex;
						justify-content: center;
						img{
							width: 160px;
							height: 160px;
							margin: 20px;
						}

					}
				}
				&.locationList{
					margin-top: 220px;
					text-align: justify;
					h3{
						margin: 6px 0 6px 0;
						font-size: 1.5rem;
						font-weight: 900;
					}
					p{
						margin: 0px 0 6px 0;
						font-size: 1.2rem;
						line-height: 2rem;
					}
					@keyframes fadeIn {
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
					path {
						animation-name: fadeIn;
						animation-duration: 0.5s;
						animation-fill-mode: both;
					}
				}
				&.location, &.about{
					margin-top: 220px;
					text-align: justify;
					h3{
						margin: 12px 0 12px 0;
						font-size: 2rem;
					}
					h4{
						margin: 24px 0 6px 0;
						font-size: 1.5rem;
					}
					p{
						margin: 0px 0 6px 0;
						font-size: 1.2rem;
						line-height: 2rem;
					}
					figure{
						width: 50%;
						margin: 0 auto;
						padding: 12px;
						background-color: white;
						box-sizing: border-box;
						img{
							width: 100%;
						}
						figurecaption{
							font-size: 0.8rem;
						}
					}
				}
			}




			.mask-flower {
				width: 200px;
				height: 200px;
				mask-image: url("mask-flower.svg");
				mask-size: cover;
				filter: saturate(0%);
				transition: filter 1s ease-in-out;
			}

			.mask-flower:hover{
				filter: saturate(300%);
				transition: filter 0.5s ease-in-out;
			}


		}




		/* ===================================================================== */
		/* == FOOTER =========================================================== */
		/* ===================================================================== */

		footer {
			color: $color-footer-fg;
			/*background-color: $color-footer-bg;*/
			background-image: url("bg_footer_desktop.jpeg");
			background-position: center top;
			background-repeat: repeat;

			.smooth{
				background-color: rgba(0,0,0,0.5);
				height: 50px;
				line-height: 50px;
				width: 100%;
				border-top-color: $color-header-bg;
				border-top-width: 3px;
				border-top-style: solid;
				p.copyright{
					text-align: center;
					font-size: 0.7rem;
					color: gray;
					vertical-align: center;
				}

			}
			.container {
				padding: 12px 12px 24px 12px;
				max-width: 1200px;
				margin: 0 auto;

				.columnas{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}
				img{
					height: 150px;
				}
				.locations, .others{
					font-size: 0.75rem;

				}
				li{
					list-style: none;
					margin-bottom: 10px;
				}
				a{
					text-decoration: underline;
					text-decoration-style: dotted;
					color: $color-footer-fg;
					font-weight: bolder;
					&:hover, &:active{
						color: $color-footer-link;
					}
				}
				p{
					margin: 12px auto;
				}
			}
		}

	}
}
