@media (max-width: 1199px) {

  html {
    font-size: 14px;

    header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      z-index: 999;
      height: 50px;
      h1 {
        font-size: 1.3rem;
        text-align: center;
        color: darkorange;
      }
      h2 {
        font-size: 1rem;
        text-align: center;
        color: red;
      }

      #mainMenuButton {
        order: 0;
        height: 50px;
        width: 50px;
      }

      #langSelectorButton {
        order: 3;
        width: 50px;
        height: 50px;
      }

      .mainMenuContent {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 70%;
        width: 100%;
        margin: 0;
        background-color: gray;
        vertical-align: bottom;
      }

      .langSelectorContent {
        order: 2;
        display: none;
        position: absolute;
        height: 70%;
        width: 100%;
        top: 80px;
        margin: 0;
        background-color: gray;
        vertical-align: bottom;
      }


    }

    main{
      .banner {
        height: 400px;
        background-image: url("banner_mobile.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: -50px;
        h1 {
          font-size: 1.3rem;
          text-align: center;
          color: darkorange;
        }
        h2 {
          font-size: 1rem;
          text-align: center;
          color: navajowhite;
        }
      }
    }


    .title {
      order: 2;
      background-color: rgba(0, 0, 0, 0.7);
      flex-grow: 4;
    }

    .title {
      order: 2;
      background-color: rgba(0, 0, 0, 0.7);
      flex-grow: 4;
    }


  }
}
